/*table*/
table {
    margin: 20px 0 20px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/*thead*/
thead tr {
    color: #ffffff;
    background: #2980b9;
}

thead tr th {
    padding: 6px 12px;
}

/*tbody*/
tbody tr {
    background: #f6f6f6;
}

tbody tr:nth-of-type(odd) {
    background: #e9e9e9;
}

tbody tr td {
    padding: 6px 12px;
}

